<h1><%= @members.count %> Members</h1>

<% @members.each do |member| %>
<ul id="member-<% member.id %>">
  <li class="name">Name: <%= member.name %></li>
  <li class="role">Role: <%= member.role %></li>
  <li class="house">House: <%= member.house %></li>
  <li class="patronus">Patronus: <%= member.patronus %></li>
</ul>
<% end %>
